html {
    background-color: rgb(29, 29, 29);
}
code {
    font-family: Consolas, "courier new";
    color:white;
    padding: 2px;
    font-size: 125%;
}
span.keyword {
    color: rgb(106, 97, 165);
}
span.datat {
    color: rgb(137, 200, 209);
}
span.int, span.long, span.float {
    color: rgb(140, 169, 248);
}
span.comment, span.blockComment {
    color: rgb(156, 191, 180);
}
span.print, span.identifier {
    color: rgb(255, 151, 71);
}
span.function {
    color: rgb(98, 138, 248);
}
span.parametro {
    color: rgb(246, 121, 130);
}
span.string {
    color: rgb(98, 138, 248);
}
span.delimiter {
    color: rgb(241, 126, 168);
}
span.operator {
    color: rgb(167, 162, 139);
}
